.bg-navbar {
    background-color: #019525
}

.sidebar-light .sidebar-brand {
    color: #fafafa;
    background-color: #028623;
}

.card-bg {
    background-image: url('../img/landbank.webp');
    background-size: cover;
    min-height: 200px;
    background-position-y: center;
}

.txt-shadow {
    text-shadow: 2px 2px #adadad;
}